@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.main-heading{
    font-family: 'Oswald', sans-serif;

}

.main-heading{
    color: #0000a0;
}

.d-block{
 width: 100%;
 height: 400px;
 filter: brightness(0.9);

}

.mammootty-grid{
    width: 100%;
    height: 420px;
    filter: brightness(0.9);
   
}


.carousel-caption .btn{
    background-color: rgb(60, 127, 172);
}

.xylem-logo{
    width: 130px;
    height: 60px;
}
.container_enquire{
    transition: all 0.2s;
}
.container_enquire:hover{

    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transform: scale(1.05);
}



.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  
}

/* .card-img-top{
    height: 400px;
} */


.slogos:hover{

color: rgb(20, 107, 20);
}

.flink:hover{
    color: rgb(20, 107, 20);
}

.flink{
    color: black;
}

.slogos{
    color: black;
}